/* MENU */
.menu{
    margin-top: 0px;

}

.menu ul {
    list-style-type: none;
    background-color:#407056;
    font-size: 15px;
    font-family: Timenewroman;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul li {
    color:#EDFA8B ;
    display: inline-table;
    width: 100%;
    height: 30px;
    line-height: 30px;
    
}

.menu ul li a {
    color: #ADE28A;
    text-decoration: none;
    display: block;
    transition: .25s ease-in;
    font-size: 15px;
}

.menu ul li a:hover {
    color: #EDFA8B;
}
/* MAIN */

.main{
    margin-top: 150px;
}

/* CARD */
.card{
    display: block;
    margin: 20px;
    width: 119px;
    height: 150px;
}
.card-img-top{
    height: 286px;
}
.product1{
    display:flex;
    justify-content: center;
}
.product2{
    display:flex;
    justify-content: center;
}

/* TEXT */
#Headersp{
    margin-left: 38px;
}
.type{
    margin-left: 38px;
    font-size: larger;
    padding-top: 10px;
}

/* FOOTER */
.footer{
    background-image: url(/image/footer.png);
    display: flex;
  width: 100vw;
  height: 300px;
}